body {
  margin: auto;
  margin-top: 30px;
  max-width: 780px;
}

header, footer, section {
  border: 1px solid black;
}

footer {
  clear: both;
  height: 30px;
}

header {
  height: 20px;
}

header img {
  float: right;
  height: 100%;
}

section {
  float: left;
  height: 90px;
  display: block;
}

.highlighted-section > .blue-box {
  border: 1px solid blue;
  margin: 10px;
  height: calc( 100% - 20px );
  width: calc( 100% - 20px );
}

.half {
  width: calc( 100% / 2 - 2px);
}

.third {
  width: calc( 100% / 3 - 2px );
}

@media screen and (max-width: 480px) {
  .half, .third {
    width: 100%;
  }
}
