body {
  margin: auto;
  max-width: 780px;
}

header, footer, section {
  border: 1px solid black;
}

footer {
  height: 20px;
}

header {
  height: 20px;
}

header img {
  float: right;
  height: 100%;
}

section {
  height: 60px;
}
